<html>
  <head>
    <title>Project Delta E2E Dashboard</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      tdata = JSON.parse({{tempdata|tojson|safe}});
      tempdata = tdata.data;
      temptitle = tdata.title;
      chartType = "PieChart"
      containerID = "chart1"
      options = {'title': temptitle, is3D: true,};
    </script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(tempdata);
        var options = {
          title: temptitle,
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <marquee><h1>Project Delta E2E Dashboard</h1></marquee>
    <div id="piechart_3d" style="width: 500px; height: 250px;"></div>
  </body>
</html>